@import "compass";

@import url(http://fonts.googleapis.com/css?family=Cabin:400,700,400italic,700italic);

/* variables and mixins */

// _normalize.scss
@import "normalize";

/////// stuff for print and screen

body {
  font-family: "Cabin", Helvetica, 'sans-serif';
}

blockquote,
.slogan,
dt,
footer {
  font-style: italic;
}

.slogan,
blockquote {
  em {
    font-style: normal;
  }
}