@charset "UTF-8";
@import "base";

/*!*/
/*! EmojiSymbols Font (c)blockworks - Kenichi Kaneko
/*! http://emojisymbols.com/ */
@font-face {
  font-family: "EmojiSymbols";
  src: url('/fonts/EmojiSymbols-Regular.woff') format('woff');
  text-decoration: none;
  font-style: normal;
}

///////////////
// VARIABLES
///////////////
$bg: #fffdfc;
$fg: #3a383a;
$break0: 1000px;
$break1: 900px;
$break2: 650px;

body {
  color: $fg;
  background-color: $bg;
  font-size: 14pt;
}

*::before,
*::after {
  font-family: "EmojiSymbols";
  font-size: 18pt;
}

///// FONT
body {
  font-family: "prenton","Helvetica",sans-serif;
}

///////////////////////
// LAYOUT
///////////////////////
hr {
  @include hide;
  clear: both;
}
.title {
  text-align: center;
}

.about {
  padding-left: 30%;
  padding-right: 30%;
}

.info {
  float: left;
  width: 50%;
  ul {
    -webkit-padding-start: 0;
    -moz-padding-start: 0;
    padding-start: 0;
  }
}
.contact {
  text-align: right;
  padding-left: 4em;
  padding-right: 2em;
  ul,
  li {
    padding-right: .5em;
    list-style-type: none;
    p::after {
      content: " 📯";
    }
  }
}
.skills {
  padding-left: 2em;
  padding-right: 4em;
  ul,
  li {
    padding-left: .5em;
    list-style-type: none;
    p::before {
      content: "🌲 ";
    }
    ul li {
      p::before {
        content: "🍃 ";
      }
    }
  }
}
.projects {
  float: left;
  width: 50%;
  padding: 1em 5%;
}

.employment {
  float: right;
  width: 50%;
  padding: 1em 5%;
  /* padding-top: 1em; */
  /* padding-left: 15em; */
  /* padding-right: 15em; */
}

footer {
  clear: both;
  padding: 2em;

  text-align: center;
  font-style: italic;
}

///// EMOJI
#sjp::before {
  content: "📢 ";
}
#map::before {
  content: "🔭 ";
}
#philweb::before {
  content: "🌐 ";
}
#foi::before {
  content: "📖 ";
}
#ucsb::before {
  content: "🏰 ";
}
#reed::before {
  content: "🎪 ";
}
#oh::before {
  content: "🙋 ";
}
#gvb::before {
  content: "🌳 ";
}

@media screen and (max-width: $break0){
  .projects,
  .employment {
    float: none;
    width: 100%;
    padding: 0;
  }
  .history {
    padding-left: 10em;
    padding-right: 10em;
  }
}

@media screen and (max-width: $break1){
  .history {
    padding-left: 5em;
    padding-right: 5em;
  }
  .contact {
    padding-left: 2em;
    padding-right: 1em;
  }
  .skills {
    padding-left: 1em;
    padding-right: 2em;
  }
}
@media screen and (max-width: $break2) {
  .about,
  .history {
    padding-left: 5%;
    padding-right: 5%;
  }
  .info {
    float: none;
    width: 95%;
  }
}
