
@import "base";

// ==============
// DIMENSIONS
// ==============
$wide: 10%;
$wide-stance: 80%;
$narrow: 5%;
$tiny: 2%;

$box-border: .2em;
$default-corner: .5em;

$break1: 900px;
$break2: 500px;

///////// colors /////
$fallback: rgb(255, 255, 255) transparent;
$see-thru: rgba(255,255,255,.75);

/////////////////////////// LAYOUT ///////////////////////////

/////////////// MAJOR ELEMENTS ///////////////

html {
  background: lightgreen;
}

html.cat {
  background: url(http://i.imgur.com/GgvLwHV.gif) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

body {
  font-size: 16pt;
}

body {
  & > header,
  & > footer {
    clear: both;

    text-align: center;
    background-color: $fallback;
    background-color: $see-thru;
  }
}

body > header > h1 {
  padding-top: .1em;
}

body > header > h2 {
  padding-bottom: .5em;
}

main {
  width: 90%;

  margin: 0 auto;
  text-align: center;
}

/* need two-element section->div structure to mirror two-element
/* section->article structure of .primary and keep y-positions the same */
section.about {
  float: left;
  width: 30%;
}
div.about {
  background-color: $fallback;
  background-color: $see-thru;
  padding-right: 1em;
  padding-bottom: .1em;
  padding-left: 1em;
  text-align: left;
  @include border-radius($default-corner, $default-corner);
  h2 {
    padding-top: .375em;
  }
}

section.index {
  float: right;
  width: 60%;

  margin-bottom: 1em;
}

.cat article {
  background-color: $fallback;
  background-color: $see-thru;
  @include border-radius($default-corner, $default-corner);

  padding-right: 1em;
  padding-bottom: .1em;
  padding-left: 1em;

  h2 {
    padding-top: .375em;
  }
}

article,
section.single {
  text-align: left;
}

section.single,
.sub article {
  width: 50%;
  margin: inherit;
}

h2,
h3,
h4,
h5,
h6 {
  line-height: 100%;
}

h1 {
  font-size: 300%;
}

h2 {
  font-size: 225%;
}

h3 {
  font-size: 150%;
}

h4 {
  font-size: 131.25%;
}

h5,
h6 {
  font-size: 112.5%;
}

h1 + h2 {
  margin-top: -1em;
}

/* http://unstoppablerobotninja.com/entry/fluid-images/ */
// /* needs width: 100% in IE stylesheet */
img,
object,
iframe {
  max-width: 100%;
}
img {
  margin: .5em 0 .5em 0;
  height: auto;
  border: $box-border solid black;
  @media screen and (max-width: $break2) {
    float: none;
  }
}

hr {
  height: .125em;
  width: 50%;
  border: 0;
  background-color: white;
  color: white;
}

article hr {
  height: .125em;
  width: 50%;
  border: 0;
  background-color: black;
  color: black;
}

//////////////////////// media queries ..................///////////////
@media screen and (max-width: $break1) {
  section.about,
  section.index {
    float: none;
    width: 80%;
    margin: inherit;
  }
  section.about {
    padding: .1em 1em;
  }
  section.single,
  .sub article {
    width: 80%;
  }
  h1 {
    font-size: 225%;
  }

  h2 {
    font-size: 150%;
  }

  h3 {
    font-size: 131.25%;
  }

  h4,
  h5,
  h6 {
    font-size: 112.5%;
  }
}

@media screen and (max-width: $break2) {
  body {
    font-size: 14pt;
  }
	main {
		margin: 0 4%;
	}
  section.about,
  section.index {
    width: auto;
  }
  section.single {
    width: 100%;
  }
  .sub article {
    width: auto;
  }
  h1 {
    font-size: 171.5%;
  }

  h2 {
    font-size: 150%;
  }

  h3 {
    font-size: 128.5%;
  }

  h4,
  h5,
  h6 {
    font-size: 114.3%;
  }
}
